{{#each this}}
<li class="country-list__item">
    <div class="country-list__item-block">
        <img class="svg-icon" src="{{flags.svg}}" alt="country flag" width="30" height="20" /><b class="country-list__name">{{name.common}}</b>
    </div>
</li>
{{/each}}